@import url('https://fonts.googleapis.com/css2?family=Ceviche+One&family=Happy+Monkey&family=Merienda:wght@300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

main {
    font-family: "Montserrat", sans-serif;
}

.hero-section-para {
    font-family: "Montserrat", sans-serif;
    font-size: 26px;
    margin-top: 20px;
}

.offer-info-above {
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px 0px 5px 0px;
    width: 100%;
    font-size: 9px;
}

@media (min-width: 600px) {
    .hero-section-para {
        font-size: 26px;
        margin-top: 20px;
    }

    .offer-info-above {
        padding: 10px 0px;
    }

    .hero-lg-img-wrapper {
        width: 40px !important;
        height: 90px !important;
    }

    .hero-lg-img {
        width: 25px !important;
        height: 90px !important;
    }

    .hero-md-img-small {
        width: 100px !important;
        height: 130px !important;
        margin-left: auto;
    }

    .hero-md-img-big {
        width: 95px !important;
        height: 150px !important;
    }

    .hero-explainer-wrapper {
        margin-top: -100px;
        width: 250px;
    }
}

@media (min-width: 601px) and (max-width: 900px) {
    .hero-section-para {
        font-size: 20px !important;
        margin-top: 15px;
    }

    .offer-info-above {
        padding: 10px 0px;
    }

    .hero-lg-img-wrapper {
        width: 95px !important;
        height: 170px !important;
    }

    .hero-lg-img {
        width: 115px !important;
        height: 170px !important;
    }

    .hero-md-img-small {
        width: 100px !important;
        height: 130px !important;
        margin-left: auto;
    }

    .hero-md-img-big {
        width: 95px !important;
        height: 150px !important;
    }

    .hero-explainer-wrapper {
        margin-top: -100px;
        width: 250px;
    }
}

@media (min-width: 901px) and (max-width: 1200px) {
    .hero-section-para {
        font-size: 24px;
        margin-top: 18px;
    }

    .offer-info-above {
        padding: 12px 0px;
    }


    .hero-lg-img-wrapper {
        width: 130px !important;
        height: 170px !important;
    }

    .hero-lg-img {
        width: 130px !important;
        height: 170px !important;
    }

    .hero-md-img-small {
        width: 130px !important;
        height: 130px !important;
        margin-left: auto;
    }

    .hero-md-img-big {
        width: 130px !important;
        height: 150px !important;
    }

    .hero-explainer-wrapper {
        margin-top: -100px;
        width: 300px;
    }

}

@media (min-width: 1201px) {
    .hero-section-para {
        font-size: 26px;
        margin-top: 20px;
    }

    .offer-info-above {
        padding: 10px 0px;
    }

    .hero-lg-img-wrapper {
        width: 200px !important;
        height: 300px !important;
    }

    .hero-lg-img {
        width: 200px !important;
        height: 300px !important;
    }

    .hero-md-img-small {
        width: 150px !important;
        height: 150px !important;
        margin-left: auto;
    }

    .hero-md-img-big {
        width: 150px !important;
        height: 170px !important;
    }

    .hero-explainer-wrapper {
        margin-top: -100px;
        width: 450px;
    }
}