@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

main {
    font-family: "Montserrat", sans-serif;
}

.hero-section-para {
    font-family: "Montserrat", sans-serif;
    font-size: 26px;
    margin-top: 20px;
}
